/* Reset */
body, article, h1, h2, h3, p, ul, li, div {
    padding: initial;
    margin: initial;
}

ul {
    list-style-type: none;
}

button {
    border-style: initial;
    background-color: initial;
    font-family: inherit;
    cursor: pointer;
}

input {
    border-style: none;
}

/* Utility */
.ir {
    position: absolute;
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Typo */
:root {
    font-family: 'Noto Sans KR';
    font-weight: 500;
}

/* Layout */
#app {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding: 247px 0 160px;
    background-color: #EAE8FE
}

.tit-app {
    width: 386px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tit-app .img-logo {
    width: 100%;
}

/* leftside */
.vending-machine {
    background-color: #FFFFFF;
    padding: 31px 27px 28px;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin-bottom: 20px;
}

.btn-item.sold-out::after {
    content: '품절입니다';
    position: absolute;
    color: transparent;
    background: rgba(0, 0, 0, 0.8) url(../img/Sold-out.png) no-repeat center / 58px 45px;
    inset: 0;
    border-radius: 10px;
}

.btn-item.sold-out {
    pointer-events: none;
}

.btn-item.selected {
    outline: 3px solid #6327FE;
}

.btn-item {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 12px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

.btn-item .img-item {
    width: 36px;
}

.btn-item .txt-item-name {
    font-size: 9px;
    line-height: 13px;
}

.btn-item .txt-item-price {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    background-color: #6327FE;
    padding: 5px 0;
    width: 70px;
    border-radius: 50px;
}

/* leftside - cont-buy */
.cont-buy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 11px;
    
}

.info-balance,
.inp-insert,
.list-item-staged {
    grid-column: 1/3;
    border-radius: 5px;
}

.cont-buy .info-balance {
    background-color: #EAE8FE;
    padding: 6px 10px 7px;
    font-size: 14px;
    line-height: 20px;
}

.info-balance .txt-balance {
    float: right;
}

.inp-insert {
    padding: 6px 6px 8px;
    font-size: 13px;
    line-height: 19px;
    border: 1px solid #BDBDBD;
}

.btn-return,
.btn-insert,
.btn-get {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    line-height: 19px;
}

.btn-get {
    background-color: #6327FE;
    color: #FFFFFF;
}

.list-item-staged {
    background-color: #EAE8FE;
    height: 106px;
    overflow: scroll;
    padding: 12px 18px 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
}

.list-item-staged .btn-staged {
    background-color: #FFFFFF;
    display: block;
    padding: 8px;
    width: 100%;
    text-align: initial;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-item-staged .txt-item {
    font-size: 9px;
    line-height: 13px;
}

.list-item-staged .num-counter {
    padding: 4px 11px 6px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    margin-left: auto;
    font-size: 14px;
    line-height: 20px;
}

.list-item-staged .img-item {
    width: 18px;
}

/* rightside */
.my-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
    width: 360px;
}

.cont-mymoney {
    background-color: #FFFFFF;
    padding: 9px 27px;
    font-size: 14px;
    line-height: 20px;
}

.info-mymoney {
    background-color: #EAE8FE;
    padding: 6px 10px;
    border-radius: 5px;
}

.info-mymoney .txt-mymoney {
    float: right;
}

.cont-myitem {
    background-color: #FFFFFF;
    padding: 25px 27px 26px;
    flex-grow: 1;
}

.cont-myitem .tit-myitem {
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-align: center;
    margin-bottom: 13px;
}

.cont-myitem .list-item-staged {
    height: 364px;
    margin-bottom: 6px;
}

.cont-myitem .list-item-staged li {
    background-color: #FFFFFF;
    width: 276px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cont-myitem .txt-money-spent {
    font-size: 12px;
    line-height: 20px;
    float: right;
}